<h1> Comentarios </h1>
<table class="table comentarios" id="tabla-comentarios">
    <tbody> 
    </tbody>
</table>

<div class="form-group">
    <label for="comment">Deja tu comentario:</label>
    <textarea class="form-control"  id="comment"></textarea>
     {% if user %}
    <button onclick="guardarComentario()" type="button" class="btn btn-primary botonEnviar">Enviar Comentario</button>
    {% endif %}
</div>